<header>
    <div class="container">
        <h1>Navigation</h1>
        <nav>
            <ul>
                <li><a href="{{ path('app_hello') }}">Hello</a></li>
                <li><a href="{{ path('app_bonjour') }}">Bonjour</a></li>
            </ul>
        </nav>
    </div>
</header>